@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }
  html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
  body {
    margin: 0;
    line-height: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #111827;
    overflow-x: hidden;
  }
}

@layer utilities {
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .font-standard-sans {
    font-family: Arial, Helvetica, sans-serif !important;
  }
}

/* ENFORCE SHARP 90-DEGREE EDGES ON ALL IMAGES ACROSS THE ENTIRE WEBSITE */
img, 
picture, 
video, 
.image-container,
[class*="aspect-"],
next-image-wrapper {
  border-radius: 0px !important;
}

